@media screen and (max-width: 900px) {
    nav{
        justify-content: center;
    }
    li{
        margin-right: 1rem;
    }    
    .lameuteAbout{ 
        margin-left: 3%; 
        margin-top: -10%;       
    }
  }

  @media screen and (max-width: 700px) {
    ul{
        display: none;
    }
    nav{
        justify-content: center;
        background-color:white;
        
    }
    .select-menu {
        display: block;
        margin-left: 2em;
    }
    .logo{
        margin-right: 1em;
    }
    header{
        align-items: center;
        justify-content: space-around;     
    }
    .lameuteAbout{      
        width: 20rem;                
    }

    .big-title{        
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .description{        
        font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 600px) {
    .select-menu .options {
        left: 50%;
    }    
    
  }
