/*For mobile phones***********************************************************************/
@media only screen and (max-width:767px) {
  .menu a {
    display: none;
  }

  body {
    padding: 0% 5%;
  }

  header {
    height: 50px;
    padding-top: 5px;
  }

  section {
    margin-top: 1vh;
  }

  .lameuteAbout{
    flex-grow: 0;
  }


  #about {
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    column-gap: 5%;
  }

  #agency p {
    line-height: 1.3em;
  }

  .lameuteAbout {
    width: 90%;
    align-items: center;
  }

  #agency,
  h2,
  p,
  #technologies,
  dt,
  dd,
  #squad,
  .service,
  #services p,
  .project,
  #project ul {
    animation-range: entry 0% cover 20%;
  }


  .Logo {
    width: 90%;
    height: 40vh;
  }

  .description {
    text-align: center;
  }

  h2,
  h3,
  p {
    text-align: center;
  }

  #services {
    height: auto;
  }

  .serviceContainer {
    flex-direction: column;
  }

  .service {
    width: 90%;
    padding: 0% 5%;
    margin: 10px 0px;
  }

  #agency {
    height: auto;
    line-height: 1em;
  }

  .carousel {
    height: 50vh;
  }

  .carousel .list .item .content {
    margin: 7% 5%;
  }

  .carousel .list .item .content .title {
    font-size: 1.5em;
    text-align: left;
  }

  .carousel .list .item .content .des {
    font-size: 0.9em;
    text-align: left;
  }

  .thumbnail {
    justify-content: start;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 1vh;
  }

  .thumbnail .item {
    width: 100px;
    height: 100px;
  }

  .thumbnail .item::after {
    display: none;
  }

  #project ul {
    width: 80%;
    gap: 0%;
    justify-content: space-between;
    padding: 0px;
  }

  #project ul li {
    font-size: 0.8em;
    padding: 0px;
  }

  .project {
    width: 100%;
  }

  .project.graphic img {
    width: 40vw;
    height: 40vw;
  }

  dd {
    margin-left: 5%;
    line-height: 1em;
  }

  .slide div {
    height: 50px;
  }

  .slide div img {
    flex: 0 0 50px;
  }

  .footer-item:nth-child(1) {
    display: none;
  }

  .footer-item {
    width: 50%;
  }

  .footer-item p {
    text-align: left;
  }

}