@font-face {
  font-family: police_primary;
  src: url(./assets/fonts/Poppins-Regular.otf);
}
@font-face {
  font-family: police_secondary;
  src: url(./assets/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: police_ternary;
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: police_lameute;
  src: url(./assets/fonts/Hellion.ttf);
}
body , html{
  height: 100%;
  margin: 0;
}
*{
  font-family: police_primary;
}
:root{
  --primary:#2D2D2D;
  --secondary:white;
  --tertiary:#E4AD72;
  --grey: #ACACAC
}
p{
  margin: 0;
}


/* styling nav bar*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100000;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--secondary);    
}

.logodiv{
  display: flex;
  align-items: center;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
li{
  display: inline-block;
  margin-right: 2em;
  font-size: 0.85em;
}
a{
  text-decoration: none;
  color: var(--primary);
}
.logo{
  margin-right: 15px;
}
.logo-blackwolf{
  width: 40px;
  height: 40px;
}
span{
  font-weight: bold;
}

/*styling the header*/
header{
  height: 100%;
  background-image: url("./assets/images/HomeBackground.jpg");
  background-position: 0% 5%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  color: var(--secondary);
  display: flex;
  align-items: center;
}

.lameuteAbout{
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin:5% 0 0 10%;
  
}
.big-title{
  font-family: police_lameute !important;
  -webkit-text-stroke: 1.2px var(--tertiary);
  text-shadow: 0px 10px rgba(0, 0, 0, 0.57);
  font-size: 6rem;
  transition: all .4s ease-out 0s;
}
.description{
  text-align: center;
  font-style: italic;
  font-size: 0.85rem;
}


/*dropdown*/
.select-menu {
  display: none;  
}
.select-menu .select-btn {
  display: flex;
  padding: 0.3em;
  background: #fff;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.select-menu .options {
  position: absolute;
  overflow-y: scroll;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  padding: 7px;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  height: 40px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}
.select-menu .options .option i {
  margin-right: 12px;
}
.select-menu .options .option .option-text {
  color: #333;
}

.select-btn i {
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}
.fa-angle-down{
  margin-left: 0.5em;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}


/*project section*/
.title-project{
  font-family: police_lameute !important;
  -webkit-text-stroke: 1.2px var(--tertiary);
  color: #38373d;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 4rem 0;
}
.project-icone{
  font-size: 10rem;
}
.project-name{
  font-weight: bold;
  font-size: 3rem;
}
.project-use{
  line-height: 2rem;
}
.checkme-txt , .lynx-txt{
  text-align: end;
}

.gazoo-txt{
  text-align: start;
}
.project{
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 1rem 5rem 1rem 5rem;
}
.gazoo{
  flex-direction: row-reverse;
}
.chk{
  color: #008edd;
  text-align: end;
}
.gaz{
  color: #e67500;
}
.lyn {
  color: #ff0000;
  text-align: end;
}
.project-description{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.checkme-image{
  width: 27rem;
  object-fit: cover;
}
.gazoo-image{
  width: 15rem;
  object-fit: cover;
}

/*service section*/
.lameuteService{
  height: 100%;
  background-position: 0% 5%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  color: var(--secondary);
  margin-bottom: 100px;
  margin-top: 80px;
}
.title-service{
  font-family: police_lameute !important;
  -webkit-text-stroke: 1.2px var(--tertiary);
  color: #38373d;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
}
.service-icon{
  font-size: 4rem;
  color: var(--grey);
}
.service-name{
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--grey);
  text-align: center;
}
.service-txt{
  line-height: 2rem;
  text-align: center;
  margin-top: 1rem;
  color: black;
  font-size: 15px;
}
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 1rem;
  transition: all .4s ease-out 0s;
}

.service:hover{
  transform: translateY(-20px);
}

.service-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-image{
  display: flex;
}
.serviceContainer{
  display: grid;
  grid-template-columns: repeat(3, 18rem); /* Three equal columns */
  justify-content: space-around;
}
.des-icon, .design{
  color: #ff0000; 
}
.dev-icon, .dev{
  color: #008edd;
}
.trans-d-icon, .trans-d{
  color: #e67500;
}
/*footer*/
footer{
  padding: 5rem;
  background-color: #07060b;
  color: white;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(4, auto); /* Three equal columns */
  justify-content: space-around;
  align-items: start;
}
.footer-title{
  font-weight: bold ;
  font-size: 20px;
}
.logo-footer{
  width: 100px;
  height: 100px;
}
.footer-item{
  display: flex;
  justify-content: center;
}
.media_footer{
  width: 20%;
  display: flex;
  justify-content: space-between;
}