@font-face {
  font-family: police_primary;
  src: url(./assets/fonts/Poppins-Regular.otf);
}
@font-face {
  font-family: police_lameute;
  src: url(./assets/fonts/Hellion.ttf);
}
body , html{
  height: 100%;
  margin: 0;
}
*{
  font-family: police_primary;
}
:root{
  --primary:#2D2D2D;
  --secondary:white;
  --tertiary:#E4AD72;
}


/* styling nav bar*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100000;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--secondary);    
}

.logodiv{
  display: flex;
  align-items: center;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
li{
  display: inline-block;
  margin-right: 2em;
  font-size: 0.85em;
}
a{
  text-decoration: none;
  color: var(--primary);
}
.logo{
  margin-right: 15px;
}
.logo-blackwolf{
  width: 40px;
  height: 40px;
}
span{
  font-weight: bold;
}

/*styling the header*/
header{
  height: 100%;
  background-image: url("./assets/images/HomeBackground.jpg");
  background-position: 0% 5%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  color: var(--secondary);
  display: flex;
  align-items: center;
}

.lameuteAbout{
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin:5% 0 0 10%;
  
}
.big-title{
  font-family: police_lameute !important;
  -webkit-text-stroke: 1.2px var(--tertiary);
  text-shadow: 0px 10px rgba(0, 0, 0, 0.57);
  font-size: 6rem;
}
.description{
  text-align: center;
  font-style: italic;
  font-size: 0.85rem;
}


/*dropdown*/
.select-menu {
  display: none;
  padding: 1em;
}
.select-menu .select-btn {
  display: flex;
  background: #fff;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.select-menu .options {
  position: absolute;
  overflow-y: scroll;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  padding: 7px;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  height: 40px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}
.select-menu .options .option i {
  margin-right: 12px;
}
.select-menu .options .option .option-text {
  color: #333;
}

.select-btn i {
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}
.fa-angle-down{
  margin-left: 0.5em;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}